{
  "root": true,
  "parser": "@typescript-eslint/parser",
  // "plugins": ["@typescript-eslint", "@typescript-eslint/tslint", "jest", "graphql"],
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "airbnb",
    "prettier",
    "prettier/@typescript-eslint",
    "plugin:eslint-comments/recommended"
  ],
  "env": {
    "browser": true,
    "es6": true,
    "node": true
    // "jest/globals": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true
    },
    "project": "./tsconfig.json",
    "tsconfigRootDir": "./"
  },
  "settings": {
    "import/extensions": [".js", ".jsx", ".ts", ".tsx"],
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "rules": {
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ],
    "no-use-before-define": 0,
    "@typescript-eslint/no-use-before-define": "error",
    "camelcase": "off",
    "@typescript-eslint/camelcase": ["error", { "properties": "never" }],
    "@typescript-eslint/explicit-function-return-type": 0,
    "@typescript-eslint/generic-type-naming": 0,
    "@typescript-eslint/interface-name-prefix": 0,
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-extraneous-class": "error",
    "@typescript-eslint/no-for-in-array": "error",
    "@typescript-eslint/no-namespace": 0,
    "@typescript-eslint/no-parameter-properties": 0,
    "@typescript-eslint/no-this-alias": ["error", { "allowDestructuring": true }],
    "global-require": 0,
    "@typescript-eslint/no-var-requires": "error",
    "@typescript-eslint/no-type-alias": 0,
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "vars": "all",
        "args": "after-used",
        "ignoreRestSiblings": true,
        "caughtErrors": "all",
        "varsIgnorePattern": "(?:_|jsx)",
        "argsIgnorePattern": "_"
      }
    ],
    "@typescript-eslint/no-object-literal-type-assertion": 0,
    "@typescript-eslint/no-unnecessary-qualifier": "error",
    "@typescript-eslint/no-unnecessary-type-assertion": "error",
    "no-useless-constructor": 0,
    "@typescript-eslint/no-useless-constructor": "error",
    "@typescript-eslint/prefer-function-type": "error",
    "@typescript-eslint/restrict-plus-operands": "error",
    "eslint-comments/no-unused-disable": "error",
    "eslint-comments/no-use": [
      "error",
      { "allow": ["eslint-disable-line", "eslint-disable-next-line", "eslint-disable", "eslint-enable"] }
    ],
    "eslint-comments/no-unlimited-disable": 0,
    // "jest/consistent-test-it": "error",
    // "jest/lowercase-name": ["error", { "ignore": ["describe"] }],
    // "jest/expect-expect": "error",
    // "jest/no-alias-methods": "error",
    // "jest/no-disabled-tests": "error",
    // "jest/no-focused-tests": "error",
    // "jest/no-identical-title": "error",
    // "jest/no-jasmine-globals": "error",
    // "jest/no-jest-import": "error",
    // "jest/no-large-snapshots": "error",
    // "jest/no-test-callback": "error",
    // "jest/no-test-prefixes": "error",
    // "jest/no-test-return-statement": "error",
    // "jest/no-truthy-falsy": "error",
    // "jest/prefer-called-with": "error",
    // "jest/prefer-spy-on": "error",
    // "jest/prefer-strict-equal": 0,
    // "jest/prefer-to-be-null": "error",
    // "jest/prefer-to-be-undefined": "error",
    // "jest/prefer-to-contain": "error",
    // "jest/prefer-to-have-length": "error",
    // "jest/require-tothrow-message": "error",
    // "jest/valid-describe": "error",
    // "jest/valid-expect": "error",
    "new-cap": 0,
    "no-async-promise-executor": "error",
    "no-await-in-loop": "error",
    "no-extra-parens": 0,
    "no-misleading-character-class": "error",
    "no-prototype-builtins": "error",
    "no-template-curly-in-string": "error",
    "require-atomic-updates": "error",
    "array-callback-return": "error",
    "consistent-return": "error",
    "default-case": "error",
    "no-alert": "error",
    "no-caller": "error",
    "no-div-regex": "error",
    "no-else-return": "error",
    "no-empty-function": 0,
    "no-eq-null": "error",
    "no-eval": "error",
    "no-extend-native": "error",
    "no-extra-bind": "error",
    "no-extra-label": "error",
    "no-floating-decimal": "error",
    "no-implicit-coercion": "error",
    "no-implied-eval": "error",
    "no-implicit-globals": "error",
    "no-invalid-this": 0,
    "no-iterator": "error",
    "no-labels": "error",
    "no-lone-blocks": "error",
    "no-loop-func": "error",
    "no-magic-numbers": 0,
    "no-multi-spaces": "error",
    "no-multi-str": "error",
    "no-multi-assign": 0,
    "no-new": "error",
    "no-new-func": "error",
    "no-new-wrappers": "error",
    "no-octal-escape": "error",
    "no-param-reassign": ["error", { "props": true, "ignorePropertyModificationsFor": ["mutableClient"] }],
    "no-proto": "error",
    "no-return-assign": "error",
    "no-return-await": "error",
    "no-script-url": "error",
    "no-self-compare": "error",
    "no-sequences": "error",
    "no-throw-literal": "error",
    "no-unmodified-loop-condition": "error",
    "no-unused-expressions": "error",
    "no-useless-call": "error",
    "no-useless-catch": "error",
    "no-useless-concat": "error",
    "no-useless-return": "error",
    "no-void": "error",
    "no-warning-comments": "error",
    "no-with": "error",
    "prefer-promise-reject-errors": "error",
    "radix": "error",
    "require-unicode-regexp": "error",
    "yoda": "error",
    "no-shadow": "error",
    "no-shadow-restricted-names": "error",
    "no-undef": 0,
    "no-undef-init": "error",
    "callback-return": "error",
    "handle-callback-err": "error",
    "no-buffer-constructor": "error",
    "no-new-require": "error",
    "no-path-concat": "error",
    "no-process-env": "error",
    "no-process-exit": "error",
    "no-sync": "error",
    "arrow-parens": ["error", "always"],
    "no-console": "error",
    "no-confusing-arrow": 0,
    "no-nested-ternary": 0,
    "no-duplicate-imports": "error",
    "no-useless-computed-key": "error",
    "no-var": "error",
    "object-shorthand": "error",
    "prefer-arrow-callback": "error",
    "prefer-const": "error",
    "prefer-destructuring": "error",
    "prefer-rest-params": "error",
    "prefer-spread": "error",
    "prefer-template": "error",
    "sort-imports": 0,
    "class-methods-use-this": 0,
    "lines-between-class-members": 0,
    "eslint-comments/disable-enable-pair": ["error", { "allowWholeFile": true }],
    "import/no-unresolved": 0,
    "import/named": 0,
    "import/default": 0,
    "import/namespace": 0,
    "import/export": 0,
    "import/no-dynamic-require": "error",
    "import/no-internal-modules": 0,
    "import/no-webpack-loader-syntax": "error",
    "import/no-self-import": "error",
    "import/no-useless-path-segments": "error",
    "import/no-relative-parent-imports": 0,
    "import/no-named-as-default": "error",
    "import/no-named-as-default-member": "error",
    "import/no-deprecated": "error",
    "import/no-mutable-exports": "error",
    "import/no-default-export": "error",
    "import/prefer-default-export": 0,
    // "@typescript-eslint/tslint/config": [
    //   "error",
    //   {
    //     "lintFile": "./tslint.json"
    //   }
    // ],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx", ".ts", ".tsx", ".mdx"] }],
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "spaced-comment": 0
  }
}
